.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}

@media (max-width: 414px) {
  .grid-container {
    display: grid;
    /* height: 97vh; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    grid-template-areas:
      "header"
      "article"
      "article"
      "article"
      "section"
      "section"
      "section"
      "aside"
      "footer";
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .grid-container {
    display: grid;
    /* height: 97vh; */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    grid-template-areas:
      "header  header"
      "article aside"
      "article aside"
      "article aside"
      "section section"
      "section section"
      "footer footer";
  }
}

@media (min-width: 770px) {
  .grid-container {
    display: grid;
    /* height: 97vh; */
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    grid-template-areas:
      "header  header"
      "aside   article"
      "aside   article"
      "aside   article"
      "section section"
      "section section"
      "footer  footer";
  }
}
